*{
    color: #ffffff;
}
body::-webkit-scrollbar {
    color: #ffffffc4;
}

.gallary-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

.row{
    margin: 1em 0;
}
img{
    max-width: 100%;
    height: auto;

}


/* album */

.ablum{
    margin-top: 2em;
}

.card:hover{
    translate: ;
}